@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");

:root {
  background-color: black;
  overflow: overlay;
  background-image: linear-gradient(
      135deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.3) 50%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url("/background-texture.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  font-family: "Montserrat", sans-serif;

  --primary: white;
  --color-background: #000000;

  /* Gold colors */
  /* --gold-50: #fffbeb; */
  --gold-100: #fef3c7;
  --gold-500: #f59e0b;
  --gold-600: #d97706;
  --gold-700: #b45309;
  /* --gold-200: #fde68a;
  --gold-300: #fcd34d;
  --gold-400: #fbbf24;
  

  --gold-800: #92400e;
  --gold-900: #78350f;
  --gold-950: #451a03; */

  --breakpoint-xxxs: 320px;
  --breakpoint-xxs: 375px;
  --breakpoint-xs: 425px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
}

.font-montserrat {
  font-family: "Montserrat", "sans-serif" !important;
  font-display: swap;
}

/* Cores dos textos */

.text-primary {
  color: var(--primary);
}

.text-gold-100 {
  color: var(--gold-100);
}

/* Cores de fundo */
.bg-primary {
  background-color: var(--primary);
}

.bg-gold-100 {
  background-color: var(--gold-100);
}

.bg-gold-500 {
  background-color: var(--gold-500);
}

.bg-gold-600 {
  background-color: var(--gold-600);
}

/* Estilos para a seção de título com linha */
.line-title-section {
  position: relative;
  display: inline-block;
  padding-bottom: 8px;
}

.line-title-section::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 2px;
  background: linear-gradient(90deg, transparent, var(--gold-500), transparent);
}
